@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --buttonA: #3B82F6;
  --buttonB: #10B981;
  --wine-red: #B20D24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-wine: var(--wine-red)
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

